<ion-header>
  <ion-toolbar>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Input búsqueda -->
  <ion-searchbar
    [(ngModel)]="query"
    (ionInput)="onSearchChange()"
    placeholder="Buscar libros..."
    debounce="0">
  </ion-searchbar>

  <!-- Loading -->
  <ion-spinner *ngIf="loading"></ion-spinner>

  <!-- Sin resultados -->
  <ion-text color="medium" *ngIf="!loading && noResults">
    No se encontraron resultados.
  </ion-text>

  <!-- Resultados -->
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let book of results" button (click)="openDetail(book)">

      <ion-thumbnail slot="start">
        <div class="cover-wrapper">
          <div class="cover-skeleton" *ngIf="!book._coverLoaded"></div>
          <img
            [src]="book._coverUrl"
            [class.cover-visible]="book._coverLoaded"
            (load)="book._coverLoaded = true"
            (error)="onImageError($event); book._coverLoaded = true"
          />
        </div>
      </ion-thumbnail>

      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>{{ getFirstAuthor(book) }}</p>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>