<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="genres" href="/tabs/genres">
      <ion-icon name="book"></ion-icon>
      <ion-label>Géneros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lists" href="/tabs/lists">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>